<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>{{ name }} List</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/Navigation-with-Button.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Num</th>
          <th>ID</th>
          <th>Snippet</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>

      {{ posts_lst | safe }}

      </tbody>
    </table>
  </div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
